Hardware/Locket.bak
RFSimulation/Round7.hfssresults/
RFSimulation/Round5.hfssresults/
RFSimulation/Round8.hfssresults/
RFSimulation/Round6.hfssresults/
*.lock
Hardware/Locket.kicad_pcb-bak
*.auto
Hardware/$Locket.sch
RFSimulation/Round9.hfssresults/
RFSimulation/conv.dat
Hardware/Locket.dsn
Hardware/Locket.ses
Hardware/Topor/.Locket.fsxview
RFSimulation/debug_log.scr
Hardware/_autosave-Locket.kicad_pcb
