Hardware/Locket.bak
RFSimulation/Round7.hfssresults/
RFSimulation/Round5.hfssresults/
RFSimulation/Round8.hfssresults/
RFSimulation/Round6.hfssresults/
*.lock
Hardware/Locket.kicad_pcb-bak
*.auto
Hardware/$Locket.sch
RFSimulation/Round9.hfssresults/
RFSimulation/conv.dat
Hardware/Locket.dsn
Hardware/Locket.ses
Hardware/Topor/.Locket.fsxview
RFSimulation/debug_log.scr
Hardware/_autosave-Locket.kicad_pcb
Firmware/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Firmware/.settings/language.settings.xml
Hardware/3d/Locket.wrl
Hardware/3d/locket.wrl.sldprt
Locket_hw/
